/* Appliquer un style général à tous les éléments */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style pour le formulaire */
.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-sizing: border-box;
}


.form p {
  margin-bottom: 20px;
}

/* Style pour les étiquettes de champ */
.form label {
  display: block;
  margin-bottom: 5px;
}

/* Style pour les champs de saisie */
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style pour le bouton de soumission */
.form input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Style pour le lien de connexion */
.form a {
  display: inline-block;
  margin-top: 10px;
  color: #666;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

/* Style pour le message d'erreur */
.form #error {
  display: block;
  margin-top: 10px;
  color: red;
}
